
body {
  margin: 0px;
  padding: 0px;
}

#main-menu {
  width: 400px;
  min-height: 100vh;
  background-color: blue;

  float: left;
  box-sizing: border-box;
  padding: 30px;
}

#main-section {
  width: calc(100% - 400px);
  min-height: 100vh;
  background-color: gray;

  float: left;
  margin: auto;
  left: 400px;
  box-sizing: border-box;
}

#image-wrapper {
  background-color: purple;
  max-width: 1200px;
  margin: auto;
}

#header-image {
  background-color: green;

  background-size: cover;
  width: 100%;
  padding-top: 56%;
  margin: 0px;
}

article#main {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  background-color: lightblue;
}
