
body {
  margin: 0px;
  padding: 0px;
  background: rgb(220,255,251);

  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2;
  font-size: 1.2em;
}

#main-menu {
  background: linear-gradient(120deg, rgba(220,255,251,1) 0%, rgba(145,210,255,1) 32%, rgba(145,151,255,1) 100%);

  width: 400px;
  height: 100vh;

  box-sizing: border-box;
  padding: 30px;

  position: fixed;
  left: 0px;
}

#main-nav-spacer
{
    width: 400px;
    min-width: 100px;

    min-height: 100vh;
    height: 100%;

    float: left;
}

#main-section {
  width: calc(100% - 400px);
  min-height: 100vh;
  background-color: white;

  float: left;
  margin: auto;
  left: 400px;
  box-sizing: border-box;

  font-size: 1.2em;
}

#image-wrapper {
  background-color: purple;
  max-width: 1200px;
  margin: auto;
}

#header-image {
  background-color: #EEE;

  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 40%;
  margin: 0px;
}

article#main {
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  background-color: white;

  color: #333;
}

article#main img {
  display: block;
  max-width: 75%;
  margin: auto 0px;
}

article#main .video-area {
  margin: 30px 0px;
  padding: 30px 30px;
  text-align: center;

  overflow: hidden;

}

article h2 {
  margin: 60px 0px 30px 0px;
}

article h2:first-of-type {
  margin-top: 0px;
}

article h3 {
  margin: 50px 0px 30px 0px;
}

article .warning {
  margin: 20px 0px;
  color: darkred;
}

article ol, article ul {
    margin: 30px 0px;
}


li + li {
    margin-top: 12px;
}

p + img, li + img {
    padding-top: 20px;
    padding-bottom: 40px;
}

p {
    text-align: justify;
    padding: 10px 0px;
}

a.text-info.active:hover {
    color: yellow !important;
}

a.text-info.active:active {
    color: yellow !important;
}

a.text-info.active:link {
    color: yellow !important;
}

a.text-info.active:visited {
    color: yellow !important;
}

article#main img.center {
    margin: auto;
}

#mobile-nav {
    display: none;
}

#mobile-spacer {
    display: none;
}

@media only screen and (max-width: 801px) {
    #main-menu {
        display: none;
    }

    #main-nav-spacer {
        display: none;
    }

    #main-section {
        width: 100%;
    }

    #mobile-nav {
        background-color: #f8f9fa;
        display: block;
        position: fixed;
        top: 0px;
        width: 100vw;
        height: 40px;
        font-size: 0.8em;

        box-sizing: border-box;
        line-height: 40px;
        vertical-align: middle;
    }

    #mobile-spacer {
        display: block;
        width: 100vw;
        height: 60px;
    }

    article#main {
        padding: 5vw;
        font-size: 0.8em;
    }

    article h2 {
      margin: 30px 0px 30px 0px;
      font-size: 1.6em;
    }

    article h2:first-of-type {
      margin-top: 0px;
    }

    article h3 {
      margin: 30px 0px 20px 0px;
      font-size: 1.2em;
    }

    article ol, article ul {
        margin: 10px 0px;
    }
}

.lan-switch {
  padding-right: 140px !important;
  margin-bottom: 10px;
  text-align: left !important;
  box-sizing: border-box;

  font-size: 0.8em;
}

.lan-switch a, .lan-switch a:link, .lan-switch a:visited{
  text-align: center;
  width: 80px;
  letter-spacing: 6px;
  border-radius: 6px;
  border: none;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s;
}

.lan-switch a:hover, .lan-switch a:active{
  text-decoration: none;
  background-color: #37a9fa;
  color: #FFF;
}

.lan-switch-mobile {
  float: right;
}

.lan-switch-mobile a, .lan-switch-mobile a:link, .lan-switch-mobile a:visited {
  text-align: center;
  width: 80px;
  letter-spacing: 3px;
  border-radius: 10px;
  border: 1px solid #AAA;

  margin-left: 10px;
  min-width: 60px;

  text-decoration: none;
  background-color: #FFF;
  color: #666;
}

nav a {
  min-width: 200px;
}

span.hamburger {
    color: green;
    margin: 0px 20px 0px 10px;
}

.award {
  background-image: linear-gradient(100deg, rgba(255,245,255,1) 0%, rgba(255,250,255,1) 60%, rgba(255,240,255,1) 100%);
  border-radius: 10px;
  border: 1px solid pink;

  font-size: 0.8em;
  box-sizing: border-box;
  padding: 10px 30px 30px 30px;
}

.award h4 {
  font-size: 1.2em;
}

.award ul {
  font-size: 0.8em;
  line-height: 1.2;
  margin: 0px;
}

.award p {
  margin-bottom: 0px;
}

.award .award-title {
  font-weight: bold;
  font-size: 1.4em;
  padding: 6px;

  line-height: 60px;
  vertical-align: middle;
}

.award-title img {
  float: left;
  padding: 6px 12px 6px 0px;

  width: 60px;
  height: 60px;
}
